@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--color-orange-50);
  --foreground: var(--color-gray-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-newsreader);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-orange-50);
    --foreground: var(--color-gray-950);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ebGaramond), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
